.new__class__item {
    padding: 0 !important;
}

.new__class__item img{
    height:100%;
    width: 100%;
    transition: .3s ease all; 
    transform: scale(.97);
}

.new__class__item img:hover{
    transform: scale(1);
}